<div *ngIf="isLoading"> 
  <mat-spinner class="loader"></mat-spinner>
</div>
<div *ngIf="!isLoading">
<div style="text-align: center">
  <mat-form-field style="text-align: center; width:20%; margin-top: 60px">
    <input matInput [(ngModel)]="search" placeholder="Search for a quiz" value="">
  </mat-form-field>
</div>
<div>
<div *ngFor="let quiz of quizzes | quizPipe: search">
  {{i}}
  <app-quiz class="my-card"
    [quizInput]="quiz"
    (quizClicked)="handleQuizClicked($event)"
  ></app-quiz>
</div>
</div>
