.example-card {
    display: inline-block;   
    align-items: center; 
    margin: 5% 2% auto;
    max-width: 500px;
    height: 60%;
  }
  
  
  .example-spacer {
    flex: 1 1 auto;
    
  }

  .material-icons{
    display: inline-flex;
    vertical-align: top;
}

.txt{
  font-size:14px;
  line-height:24px;
  padding-left:10px;
 }