.example-card {
  max-width: 400px;
}

mat-card-actions mat-card-subtitle {
    margin-top: 20px;
    margin-left: 20px;
}

::ng-deep .mat-form-field .mat-form-field-infix {
  width:  300px !important;
}

.example-header-image {
  background-image: url('https://cdn.discordapp.com/attachments/437924508213575680/582194718562189340/Default.png');
  background-size: cover;
}
