<form [formGroup]="updateQuiz" (ngSubmit)="updateQuizSubmit()">
  <div>
    <mat-form-field >
      <input matInput placeholder="Quiz Title" formControlName="title">
    </mat-form-field>
  </div>







  <div formArrayName="questions" *ngFor="let question of updateQuiz.controls.questions.controls; let j=index " >
    <div [formGroupName]="j">
    <mat-form-field style="margin-right: 10px;" >
      <input matInput formControlName="title" value="{{question.value.title}}">
      
      
      <!--<input matInput value="{{question.value.questions}}">-->
    </mat-form-field >
    <div formArrayName="options" >
    <div *ngFor="let option of question.controls.options; let i=index" >
      <div [formGroupName]="i">
        <mat-form-field style="margin-right: 10px;" >
        <input matInput formControlName="answer" name="{{option.value.answer}}" >

      </mat-form-field >
        <div *ngIf="option.correct === true">
        
            <mat-radio-button formControlName="correct" name="{{question.title.title}}"  checked="true" style="margin-right: 10px;"> Correct Answer </mat-radio-button>
            
        </div>
        <div *ngIf="option.correct === false">
        
            <mat-radio-button formControlName="correct" name="{{question.title.title}}"  checked="false" style="margin-right: 10px;"> Correct Answer </mat-radio-button>
            
        </div>
      
      </div>

      

    </div>
  </div>
  </div>
  </div>




  <!-- <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Personal data
          </mat-panel-title>
          <mat-panel-description>
            Type your name and age
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field>
          <input matInput placeholder="First name">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Age">
        </mat-form-field>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Self aware panel
          </mat-panel-title>
          <mat-panel-description>
            Currently I am {{panelOpenState ? 'open' : 'closed'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>
    </mat-accordion> -->


  <button mat-raised-button style="margin-top: 10px;" color="primary">Save Quiz</button>
</form>