<form [formGroup]="updateQuizGroup" (ngSubmit)="updateQuiz()">
  <div>
    <mat-form-field >
      <input matInput id="quizTitle" placeholder="Quiz Title" formControlName="title">
    </mat-form-field>
  </div>
  <div>
    <button style="margin-bottom: 10px;" id="newQuestion"  type="button" mat-raised-button color="accent" (click)="createNewQuestion()">New Question</button>
  </div>

  <div  formArrayName="questions">
    <div *ngFor="let questionControl of updateQuizGroup.controls.questions.controls; let i=index">
      <div [formGroupName]="i">
          <mat-form-field style="margin-right: 45px;" >
            <input id="ques{{i}}" matInput placeholder="Question" formControlName="title">
          </mat-form-field>
          <button type="button" mat-raised-button color="accent" (click)="createNewOption(i)">New Option</button>
          
          <div formArrayName="options">
              <div *ngFor="let optionControl of questionControl.controls.options.controls; let j=index">
                  <div [formGroupName]="j">
                    <mat-form-field style="margin-right: 10px;">
                      <input id="{{i}}{{j}}" matInput placeholder="Option" formControlName="answer">
                    </mat-form-field >
                    <mat-checkbox id="{{i}}{{j}}cor" formControlName="correct" style="margin-right: 10px;">Correct answer</mat-checkbox>
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>

  <button id="updateQuiz" mat-raised-button color="primary" style="margin-bottom:15px">Save Quiz</button>
</form>